body, html {
    margin: 0;
    padding: 0;
    widows: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3, h4, h5 {
    margin: 0; 
}

header, nav, footer, section, article, div {
    box-sizing: border-box;
}

.header__inner, .content {
    display: flex;
    flex-wrap: wrap;
}






/* 
Header 
*/
.header {
    /* box-shadow: 0 2px 5px rgba(0, 0, 0, 0.26); */
    border-bottom: solid rgba(62, 69, 73, 0.349);
    min-height: 56px;
    transition: min-height 0.3s;
    margin-top: 1em;
}

.header__inner {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

.header__logo__div {
    width: 20%;
}

.header__logo {
    height: 80px;   
    vertical-align: top;
    margin: 36px 12px 12px 12px;

	-webkit-filter: grayscale(100%);
    filter: grayscale(100%);
     /*-- Animate the article --*/
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.header__logo:hover {
	-webkit-filter: grayscale(0);
	filter: grayscale(0); 
}


.header__title__div {
    width: 80%;
    text-align: right;
}

.header__title{  
    font-family: 'Black Ops One', cursive;
    font-weight: 300;
    font-size: 3em;
    margin: 36px 12px 12px 36px;
    display: inline-block;
    color: #2d3c46;   
}

.header__title_smaller{
    font-family: 'Black Ops One', cursive;
    font-size: 25px;
    margin: 0em;
    color: rgba(62, 69, 73, 0.349);
}


/* 
Basecamp 
*/

.basecamp {
    width: 100%;
    height: auto;
    position: relative;
    background-image: url("../pic/Basecamp.jpg");
    background-size: cover;
    min-height: 500px;
    margin: 1.5em 1em 1.5em 1em;
    /*-- Animate the article --*/
    -webkit-transition: 3s ease-in-out;
    transition: 3s ease-in-out;
}

.basecamp:hover {
    background-position: bottom;
}


.basecamp article {
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    height: 130px;
    bottom: 0;
    width: 100%;
    color: rgba(233, 224, 224, 0.5);
    padding: 1em;
    /*-- Animate the article --*/
    -webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.basecamp article:hover {
    height: 200px;
    background-color: rgba(0, 0, 0, 0.5);
}

.basecamp p {
    color: rgba(255, 255, 255, 0.7);
}



/* 
Featured Projects
*/

.featured-work h1 {
    font-family: 'Sunflower', sans-serif;
    color: #2d3c46;
}
















.copyright {
    color: #919699;
    font-size: small;
    font-weight: normal;
    margin-left: 2%;
}






/* 
responsive 
*/

@media screen and (min-width: 1000px) {
    main, .header__inner {
      width: 1000px;
      margin-left: auto;
      margin-right: auto;
    }
  }