/* inline_style_1 */
/*<![CDATA[*/
div.rbtoc1589399779078 {padding: 0px;}
div.rbtoc1589399779078 ul {list-style: disc;margin-left: 0px;}
div.rbtoc1589399779078 li {margin-left: 0px;padding-left: 0px;}

/*]]>*/
